<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CBPUpdateTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CBPUpdateTool.Properties.Settings>
            <setting name="CPB_Name_Range" serializeAs="String">
                <value>CBP_Name_Range</value>
            </setting>
            <setting name="arasPrimaryLinkItemId" serializeAs="String">
                <value>arasPrimaryLinkItemId</value>
            </setting>
            <setting name="CBP_Name_Property_Title" serializeAs="String">
                <value>x4_cbp_name</value>
            </setting>
            <setting name="AML_to_get_all_CBPs" serializeAs="String">
                <value>&lt;AML&gt;&lt;Item type="a_CBP" action="get" select="id,x4_cbp_doc,x4_cbp_name"&gt;&lt;/Item&gt;&lt;/AML&gt;</value>
            </setting>
            <setting name="CBP_DOCID_Property_Title" serializeAs="String">
                <value>x4_cbp_doc</value>
            </setting>
            <setting name="ArchCountAML" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="ItemType" action="get" select="name"&gt;
&lt;name&gt;Document&lt;/name&gt;
&lt;Relationships&gt;
&lt;Item type="Property" action="get" where="[Property].name like 'arch_desc%'" select="name"&gt;&lt;/Item&gt;

&lt;/Relationships&gt;
&lt;/Item&gt;

&lt;/AML&gt;</value>
            </setting>
            <setting name="ArasURL" serializeAs="String">
                <value>url</value>
            </setting>
            <setting name="SALTUserLogin" serializeAs="String">
                <value>username</value>
            </setting>
            <setting name="ARASdb" serializeAs="String">
                <value>db</value>
            </setting>
            <setting name="SALTUserPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="CBPArchname" serializeAs="String">
                <value>arch_name_</value>
            </setting>
            <setting name="CBPArchDesc" serializeAs="String">
                <value>arch_desc_</value>
            </setting>
            <setting name="numberofArchitecturs" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ArchetictureWorksheetName" serializeAs="String">
                <value>Architectures</value>
            </setting>
            <setting name="ConfigFileName" serializeAs="String">
                <value>CBPUpdateConfig.xml</value>
            </setting>
            <setting name="ArasInfoNodeName" serializeAs="String">
                <value>ArasInfo</value>
            </setting>
            <setting name="ArasDocumentIDCPName" serializeAs="String">
                <value>arasDocumentID</value>
            </setting>
            <setting name="ArasPrimaryLinkIDName" serializeAs="String">
                <value>arasPrimaryLinkItemId</value>
            </setting>
            <setting name="getWorkFlowAML" serializeAs="String">
                <value>&lt;AML&gt;&lt;Item type="Workflow" action="get"&gt;&lt;source_id&gt;&lt;/source_id&gt;&lt;/Item&gt;&lt;/AML&gt;</value>
            </setting>
            <setting name="getWorkFlowProcessAML" serializeAs="String">
                <value>&lt;AML&gt;&lt;Item type="Workflow Process" action="get"&gt;&lt;id&gt;&lt;/id&gt;&lt;/Item&gt;&lt;/AML&gt;</value>
            </setting>
            <setting name="getWorkflowMapNameAML" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="Workflow Map" action="get" select="name"&gt;
&lt;id&gt;&lt;/id&gt;
&lt;/Item&gt;

&lt;/AML&gt;</value>
            </setting>
            <setting name="HiddenWorksheetName" serializeAs="String">
                <value>Hidden</value>
            </setting>
            <setting name="getActivitiesAML" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="Workflow Process Activity" action="get" select="related_id"&gt;
&lt;source_id&gt;&lt;/source_id&gt;
&lt;/Item&gt;
&lt;/AML&gt;</value>
            </setting>
            <setting name="getTasksAML" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="Activity Task" action="get" select="sequence,is_required,description"&gt;
&lt;source_id&gt;&lt;/source_id&gt;
&lt;/Item&gt;

&lt;/AML&gt;</value>
            </setting>
            <setting name="getVotePaths" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="Workflow Process Path" action="get"&gt;
&lt;source_id&gt;&lt;/source_id&gt;
&lt;/Item&gt;

&lt;/AML&gt;</value>
            </setting>
            <setting name="completeActivityAML" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="Activity" action="EvaluateActivity"&gt;
&lt;Activity&gt;&lt;/Activity&gt;
&lt;ActivityAssignment&gt;&lt;/ActivityAssignment&gt;
&lt;Paths&gt;
&lt;Path&gt;&lt;/Path&gt;
&lt;/Paths&gt;
&lt;Tasks&gt;
&lt;Task id='' completed="1"&gt;&lt;/Task&gt;
&lt;/Tasks&gt;
&lt;Variables&gt;
&lt;/Variables&gt;
&lt;Authentication mode=""&gt;&lt;/Authentication&gt;
&lt;Comment&gt;&lt;/Comment&gt;
&lt;Complete&gt;1&lt;/Complete&gt;
&lt;/Item&gt;
&lt;/AML&gt;</value>
            </setting>
            <setting name="getActivityAssignement" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="Activity Assignment" action="get"&gt;
&lt;source_id&gt;&lt;/source_id&gt;
&lt;/Item&gt;

&lt;/AML&gt;</value>
            </setting>
            <setting name="getLoggedInIdentityID" serializeAs="String">
                <value>&lt;AML&gt;
&lt;Item type="User" action="get" select="owned_by_id"&gt;
&lt;id&gt;&lt;/id&gt;
&lt;/Item&gt;
&lt;/AML&gt;</value>
            </setting>
        </CBPUpdateTool.Properties.Settings>
    </userSettings>
</configuration>